{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Market 974!{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <hr>
    {% if notification %}
        <div class="alert alert-info">
            {{ notification }}
        </div>
    {% endif %}
    {{ form(form) }}
    <hr>

    <button type="button" class="btn btn-info">
        <a href="{{ path('app_account') }}">Retour</a>
    </button>
{% endblock %}